.Flexbox-contaniner {
  display: flex;
  margin-top: 40vh;
}
.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: rgb(179, 160, 160);
  padding: 5px;
}
div.item1 {
  min-height: 100px;
}
div.item2 {
  min-height: 200px;
}
div.item3 {
  min-height: 300px;
}
div.item4 {
  min-height: 400px;
}
div.item5 {
  min-height: 500px;
}

p {
  font-size: 20px;
}
.BiggerText {
  font-size: 30px;
}
code {
  font-size: 20px;
}
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10vh;
  padding: 15px;

  align-items: center;
}
@media (min-width: 800px) {
  #navbar {
    align-items: left;
    width: 50%;
  }
}
.designNav {
  display: flex;
  justify-content: space-between 5px;
}
.designNav li {
  justify-content: space-between;
  margin-left: 10px;
  background-color: rgb(233, 233, 235);
  border-radius: 5px;
}
ul {
  list-style: none;
}
